<!DOCTYPE html>
<html>
<head>
	<title>Baseball Scoreboard</title>
	<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script> -->
	<script type="text/javascript" src="../../scripts/jquery.js"></script>
	<script type="text/javascript" src="../../scripts/get.js"></script>
	
	<script type="text/javascript" src="../../rosters/appy.csv.js"></script>
	<link rel="stylesheet" type="text/css" href="../../uniforms/appy.css">
	
	<link rel="stylesheet" type="text/css" href="../style.css">
	<script type="text/javascript" src="../../scripts/teams.js"></script>
	<script type="text/javascript">
		var league = all_leagues.appy
		var roster_csv = appy_csv
		$(document).ready(() => {
			$('#_scoreboard').html(scoreboard_html)
			$('#_lineup').html(lineup_html)
			$('#_diagram').html(diagram_html)
		})
	</script>
	<script type="text/javascript" src="../../scripts/strftime.js"></script>
	<script type="text/javascript" src="../../scripts/roster.js"></script>
	<script type="text/javascript" src="../../scripts/game.js"></script>
	<script type="text/javascript" src="../../scripts/render.js"></script>
	<script type="text/javascript" src="../../scripts/logos.js"></script>
</head>
<body>

	<script type="text/javascript" src="../components/scoreboard.html.js"></script>
	<div id="_scoreboard"></div>

	<div>
		<button id="fullscreen">Fullscreen</button>
		<input id="keys" type="text" name="keys">
	</div>

	<script type="text/javascript" src="../components/lineup.html.js"></script>
	<div id="_lineup"></div>

	<script type="text/javascript" src="../components/diagram.html.js"></script>
	<svg height="222" width="200" id="_diagram"></svg>
	
	<br>
	<span class="yyyymmdd">00000000</span>_<span class="away_abbr">AWAY</span>_<span class="home_abbr">HOME</span>.baseball

</body>
</html>