<div id="scoreboard">
	<div id="counters">
		<div id="bases">
			<div class="circles">
				<table>
					<tr>
						<td></td>
						<td><div class="bs" id="bs2">2</div></td>
						<td></td>
					</tr>
					<tr>
						<td><div class="bs" id="bs3">3</div></td>
						<td><span class="pitchcount"></span></td>
						<td><div class="bs" id="bs1">1</div></td>
					</tr>
					<tr>
						<td></td>
						<td><div class="plate" id="bs0">&nbsp;</span></td>
						<td></td>
					</tr>
				</table>
			</div>
		</div>
		<div id="balls">
			<div>Balls</div>
			<div class="circles">
				<div></div>
				<div></div>
				<div></div>
			</div>
		</div>
		<div id="strikes">
			<div>Strikes</div>
			<div class="circles">
				<div></div>
				<div></div>
			</div>
			<div class="foulcircles">
			</div>
		</div>
		<div id="outs">
			<div>Outs</div>
			<div class="circles">
				<div></div>
				<div></div>
			</div>
	</div>
	</div>
	<table class="score" id="score">
		<thead>
			<th>Team</th>
			<th>1</th>
		</thead>
		<tr class="away">
			<td class="away teamlogo">
				<!-- &#x1f34e; -->
				<!-- <img src="logos/NECBL/necbl_com/Valley.png"> -->
				<!-- AWAY -->
			</td>
			<td class="current_inning"></td>
		</tr>
		<tr class="home">
			<td class="home teamlogo">
				<!-- &#x1f34a; -->
				<!-- <img src="logos/NECBL/necbl_com/Keene.png"> -->
				<!-- HOME -->
			</td>
			<td></td>
		</tr>
	</table><table class="score" id="total">
		<thead>
			<th>R</th>
			<th>H</th>
			<th>E</th>
			<th>LOB</th>
		</thead>
		<tr class="away">
			<td class="runs">0</td>
			<td class="hits">0</td>
			<td class="errors">0</td>
			<td class="lob">0</td>
		</tr>
		<tr class="home">
			<td class="runs">0</td>
			<td class="hits">0</td>
			<td class="errors">0</td>
			<td class="lob">0</td>
		</tr>
	</table><br>
	<span class="inningcounter">
		<span class="arrow">&gt;</span><span class="inning">0</span>
	</span>
	<span class="pitchcounter">
		<span class="white">P:</span>
		<span class="pitchcount"></span>
	</span>
</div>