body {
	zoom: 110%;
}

iframe {
	/*width: inherit;*/
	/*border: none;*/
}

#scoreboard {
	border: solid black 2px;
	background-color: green;
	text-align: center;
	padding: 20px;
	display: inline-block;
}

#balls, #strikes, #outs {
	display: inline-block;
	width: 20%;
	text-align: center;
	color: white;
	font-weight: bold;
	font-size: 32px;
}

#bases {
	display: inline-block;
	width: 15%;
	text-align: center;
	color: white;
	font-weight: bold;
	/*font-size: 32px;*/
	margin-right: : 10px;
	vertical-align: bottom;
}

.score {
	background-color: black;
	margin: 20px auto;
	display: inline-block;
}

#score * td:nth-child(1) {
	width: 120px;
	height: 60px;
	padding: 0;
	/*vertical-align: bottom;*/
}

.score * td, .score * th {
	color: white;
	background-color: green;
	font-size: 32px;
	width: 50px;
	text-align: center;
	height: 60px;
}

.score, .score * td, .score * th {
	border: solid black 1px;
}

#score {
	border-right: none;
}
#total {
	border-left: none;
}

.circles div {
	height: 30px;
	width: 30px;
	border-radius: 100%;
	background-color: yellow;
	display: inline-block;
}

.foulcircles {
	height: 10px;
}

.foulcircles div {
	height: 10px;
	width: 10px;
	border-radius: 100%;
	background-color: yellow;
	display: inline-block;
	margin: 0 2px;
}

#bases {
	font-weight: normal;
}

div.bs, div.plate {
	color: black;
	height: auto;
	padding: 6px 0;
	border-radius: 20%;
}

div.bs {
	font-family: sans-serif;
}

div.plate {
	border-top: 0;
	font-family: sans-serif;
	font-weight: bold;
	background-color: white;
}

.base, .fieldpos {
	display: inline-block;
	height: 28px;
	width: 30px;
	border-collapse: 100%;
	padding-top: 5px;
	text-align: center;
	font-size: 20px;

}

.base, {
	border: solid 1px;
	background-color: white;
}

#diamond tr td {
	text-align: center;
	height: 30px; width: 30px;
}

.true {
	background-color: red!important;
}

.atbat {
	background-color: gray;
}

.pitchcount {
	color: white;
}

.current_inning {
	background-color: #2a2!important;
}

.teamlogo {
	white-space: nowrap;
}

img {
	border: white;
	height: 50px;
	vertical-align: middle;
	/*margin-top: 10px;*/
}

body {
	/*zoom: 220%;*/
}

.inning {
	font-weight: bold;
}

#total thead th:nth-child(4) {
	font-size: 22px;
}

.roster, .broadcast, .field {
	display: inline-block;
}

.broadcast .runs {
	text-align: right;
	background-color: #111;
}

.broadcast {
	font-family: sans-serif;
	background-color: black;
	color: white;
}

.fieldrow, .fieldpos {
	text-align: center;
	vertical-align: middle;
}

.fieldrow {
	margin: 5px;
}

.fieldpos {
	/*height: 40px;*/
	border-radius: 20%;
	border: solid black 1px;
	/*width: 40px;*/
	align-self: center;
	/*display: inline-block;*/
}

.fieldrow:last-child {
	margin-top: 8px;
	/*background-color: red;*/
}

svg {
	/*border: solid black 1px;*/
}

polygon.true {
	fill: red;
}

svg text {
	font-size: 10pt;
	font-family: sans-serif;
	text-anchor: middle;
	baseline-shift: -5px;
}

svg text.of {
	fill: white;
}

tr.pitchers td {
	text-align: right;
}