.BLU {background-color: #5eb4e5;}
.BUR {background-color: #0294d4;}
.DAN {background-color: ;}
.PRN {background-color: #352c2a;}
.PUL {background-color: ;}
.BRS {background-color: ;}
.ELZ {background-color: #004a8e;}
.GRN {background-color: #01193b;}
.JCY {background-color: #231f20;}
.KNG {background-color: #014a8f;}
